.venv/Include
.venv/Lib
.venv/Lib/*
.venv/Lib/site-packages
.venv/Lib/site-packages/*
.venv/Scripts
.venv/Scripts/*
.venv/Scripts/__pycache__
.venv/Scripts/__pycache__/*
.venv/share
.venv/share/*
models_spacy_ner
models_spacy_ner/*